h1 {
    color: blue
}

body {
    background-image: url(Fondo-para-paginja-wep-002.jpg);
    /* background: rgb(140, 6, 41);
    background: -moz-linear-gradient(180deg, rgba(140, 6, 41, 1) 0%, rgba(83, 5, 72, 1) 51%, rgba(8, 3, 113, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(140, 6, 41, 1) 0%, rgba(83, 5, 72, 1) 51%, rgba(8, 3, 113, 1) 100%);
    background: linear-gradient(180deg, rgba(140, 6, 41, 1) 0%, rgba(83, 5, 72, 1) 51%, rgba(8, 3, 113, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8c0629", endColorstr="#080371", GradientType=1); */
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center ;
    background-size: cover;

    /* padding-bottom: 30%; */
}

.pic-frame {
    object-fit: contain;
    display: flex;
    margin: auto;
    margin-top: 1rem;
    width: 90%;
    justify-content: center;
}

.pic-frame img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.social-icon {
    width: 1.875rem;
    height: auto;
    margin: 0 1rem;
    border: 0.125rem;
    border-color: transparent;
    transition-duration: 0.3s;
}

.social-icon:hover {
    border: 0px;
    width: 3rem;
    height: auto;
    margin: 0 1rem;
}

.btn-light {
    width: 50%;
    padding: 0.7rem;
    margin-top: 2rem;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 0px;
    text-align: center;
    color: #000;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.last {
    margin-bottom: 2rem;
}

.mitad1{
    color: #080371;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.mitad2{
    color: #ff0516;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.pane{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
}