body {
    margin: 0;
    padding: 0;
    background-image: url(Fondo-para-paginja-wep-002.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}

.pane{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 100%;
    width: 80vw;
    margin: 1rem auto;
    padding: 0 2rem;
}

.pic-frame {
    object-fit: contain;
    display: flex;
    margin: auto;
    padding-top: 1rem;
    margin-top: 1rem;
    width: 90%;
    justify-content: center;
}

.pic-frame>img, .slogan-div>img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.slogan-div {
    object-fit: contain;
    display: flex;
    margin: auto;
    padding: 5% 0;
    width: 60%;
    justify-content: center;
}

.wrapper{
    margin: 5% 0 10% 0;
    display: flex;
    justify-content: center;

}

.columna {
    object-fit: contain;
    display: flex;
    margin: auto;
    justify-content: center;
}

.social-icon {
    max-width: 64px;
    max-width: 64px;
    width: 4vw;
    height: auto;
    margin: 0 1rem;
    border: 0.125rem;
    border-color: transparent;
    transition-duration: 0.3s;

}

.social-icon-ml {
    max-width: 64px;
    max-width: 64px;
    width: 6vw;
    height: auto;
    margin: 0 1rem;
    border: 0.125rem;
    border-color: transparent;
    transition-duration: 0.3s;

}

.social-icon:hover {
    border: 0px;
    width: 5vw;
    height: auto;
    margin: 0 1rem;

}

.social-icon-ml:hover {
    border: 0px;
    width: 7vw;
    height: auto;
    margin: 0 1rem;

}

h2 {
    margin-top: 2rem;
    margin-bottom: 0px;
    text-align: center;
    color: #000;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.mitad1{
    color: #080371;
    
}

.mitad2{
    color: #ff0516;
}

.btn-light {
    width: 50%;
    padding: 0.7rem;
    margin-top: 2rem;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
    background-color: #ff0000;
    border-color: #000;
    color: white;
}

.btn-light:hover{
    background-color: #1C1C5D;
    color: white;
}

.wrapperbt{
    width: 100%;
    grid-template-columns: auto;
    margin: 1rem 0 2rem 0;
    display: grid;
    justify-content: center;

}


.last {
    margin-bottom: 2rem;
}
